name: branch
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
env:
  DEVELOPER_DIR: /Applications/Xcode_16.3.app/Contents/Developer
jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v4
        with:
          path: Pods
          key: '${{ runner.os }}-pods-${{ hashFiles(''**/Podfile.lock'') }}'
          restore-keys: |
            ${{ runner.os }}-pods-
      - name: UnitTest
        uses: maierj/fastlane-action@v3.1.0
        with:
          lane: run_all_tests
          skip-tracking: false
      - name: Build
        uses: maierj/fastlane-action@v3.1.0
        with:
          lane: build_debug
          skip-tracking: false

